.App {
  text-align: center;
  border: 15px solid grey;
  border-style: ridge;
  position: absolute;
  padding: 3%;
  top: 40%;
  left: 50%;
  transform: translate(-50%)

}

.hint {
  font-size: 10px;
  color:black;
}

h2 {
  font-size: 22px;
  color: black;
}

/* .contr {
  padding-bottom: 5%;
} */
.subButton {
  color: black;
  background-color: antiquewhite;
  width: 26%;
}

.logOutButton {
  color: black;
  background-color: antiquewhite;
  width: 50%;
}

h1 {
  font-size: 22px;
  color: black;
}

input {
  width: 60%;
}


::-webkit-input-placeholder { 
  color: grey;
  background: antiquewhite;
}
:-moz-placeholder { 
 color: grey;
 background: antiquewhite;
}
::-moz-placeholder { 
  color: grey;
  background: antiquewhite;
}
:-ms-input-placeholder { 
  color: grey;
  background: antiquewhite;
}